<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="https://files.softicons.com/download/business-icons/pretty-office-11-icons-by-custom-icon-design/png/256x256/cash.png">
    <link rel="stylesheet" href="../stylesheets/style.css">
   <!-- <link rel="stylesheet" href="../stylesheets/paypal.css">-->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <title>Rich Certificate</title>
    <script src="https://www.paypal.com/sdk/js?client-id=AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R&currency=USD&disable-funding=credit,card"></script>

</head>
<body>

<div id="intro">
    <p>This site will give you a <b>Certificate</b>. Show your friends you can afford spending money without a reason.</p>
</div>

<div class="container">
    <% const amounts = [2,5,10,50,100]; %>
    <% amounts.forEach(function(amount, index) { %>
        <div class="bordermain <%= amount === 10 ? 'extra' : '' %>">
            <h1>$<%= amount %></h1>
            <p>Clicking on this button will give you a <b>Certificate</b> for <b>$<%= amount %></b></p>
            <div id="paypal-button-container-<%= index %>"></div>
        </div>
    <% }); %>

    <!-- 💳 FORM jako další bordermain box -->
    <div class="bordermain">
        <h1>Custom Amount</h1>
        <p>Enter your own amount & pay with credit card</p>
        <form action="/todo" method="post">
            <input type="text" placeholder="$" id="name" name="name">
            <button type="submit" class="tlacitko">Submit</button>
        </form>
    </div>
</div>


    <table>
        <tr>
            <th>Place</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].amount %> $</td>
            </tr>
        <% } %>
    </table>


<div id="thanks" style="display:none; text-align:center;">
    <p>Thank you, <span id="thanksname"></span>!</p>
</div>

<script>
    const amounts = [2,5,10,50,100];
    amounts.forEach(function(amount, index) {
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'gold',
                shape: 'pill',
                label: 'paypal'
            },
            funding: {
                disallowed: [ paypal.FUNDING.CARD ]
            },
            createOrder: (data, actions) => {
                return actions.order.create({
                    intent: 'CAPTURE',
                    purchase_units: [{
                        amount: { value: amount.toFixed(2) }
                    }]
                });
            },
            onApprove: (data, actions) => {
                return actions.order.capture().then(function(details) {
                    alert('Thank you, ' + details.payer.name.given_name + '!');
                });
            }
        }).render('#paypal-button-container-' + index);
    });
</script>


</body>
</html>
