<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="https://files.softicons.com/download/business-icons/pretty-office-11-icons-by-custom-icon-design/png/256x256/cash.png">
    <link rel="stylesheet" href="../stylesheets/style.css">
   <!-- <link rel="stylesheet" href="../stylesheets/paypal.css">-->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <title>Rich Certificate</title>
    <link rel="icon" href="../fav-icon.jpg" type="image/x-icon">
    <script src="https://www.paypal.com/sdk/js?client-id=AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R&currency=CZK&disable-funding=credit,card"></script>

</head>
<body>

<div id="intro">
    <p>Tato stránka vám vystaví <b>Certifikát</b>. Ukažte svým přátelům, že si můžete dovolit utrácet peníze bez důvodu.</p>
</div>

<div class="container">
    <% const amounts = [50,100,500,1000,2500]; %>
    <% amounts.forEach(function(amount, index) { %>
        <div class="bordermain <%= amount === 10 ? 'extra' : '' %>">
            <h1><%= amount %> CZK</h1>
            <p>Kliknutím na toto tlačítko získáte <b>Certifikát</b> v hodnotě <b><%= amount %> CZK</b></p>
            <div id="paypal-button-container-<%= index %>"></div>
        </div>
    <% }); %>


    <div class="bordermain">
        <h1>Vlastní částka</h1>
        <p>Zadejte vlastní částku, nebo zaplaťte kartou</p>
        <form action="/todo" method="post">
            <input type="text" placeholder="CZK" id="name" name="name">
            <button type="submit" class="tlacitko">Odeslat</button>
        </form>
    </div>
</div>


    <table>
        <tr>
            <th>Umístění</th>
            <th>Jméno</th>
            <th>Částka</th>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= data[i].name %></td>
                <td>CZK <%= data[i].amount %></td>
            </tr>
        <% } %>
    </table>


<div id="thanks" style="display:none; text-align:center;">
    <p>Thank you, <span id="thanksname"></span>!</p>
</div>

<script>
    const amounts = [50,100,500,1000,2500];
    amounts.forEach(function(amount, index) {
        paypal.Buttons({
            style: {
                layout: 'vertical',
                color: 'gold',
                shape: 'pill',
                label: 'paypal'
            },
            funding: {
                disallowed: [ paypal.FUNDING.CARD ]
            },
            createOrder: (data, actions) => {
                return actions.order.create({
                    intent: 'CAPTURE',
                    purchase_units: [{
                        amount: { value: amount.toFixed(2) }
                    }]
                });
            },
            onApprove: (data, actions) => {
                return actions.order.capture().then(function(details) {
                    alert('Thank you, ' + details.payer.name.given_name + '!');
                });
            }
        }).render('#paypal-button-container-' + index);
    });
</script>


</body>
</html>
